::-webkit-scrollbar {
    display: none;
}

.categoria-juegos {
    width: 100%;
}

.titulo-categoria {
    color: #000000;
    margin-left: 2%;
}

.container-cards-juegos {
    display: flex;
    flex-direction: row;
    overflow-y: scroll;
    scrollbar-width: none;
    scroll-snap-type: x mandatory;
    width: 100%;
    overflow: scroll;
}

.container-categorias-juegos {
    overflow: hidden;
    position: relative;
    top: 5vh;
}

.card-juego {
    border-radius: 5px;
    overflow: hidden;
    scroll-snap-align: center;
    width: calc(100%/3);
    border-radius: 5px;
    margin: 0 20px;
    flex: 0 0 30%;
    position: relative;
    object-fit: cover;
    height: 40vh;
}

.card-juego img {
    width: fit-content;
}

.card-juego img:hover {
    width: 120%;
}

.btn-play {
    position: absolute;
    color: #ffffff;
    border: 2px solid;
    padding: 5px 30px;
    border-color: #ffffff;
    border-radius: 5px;
    bottom: 20%;
    font-size: 1.5rem;
    left: 30%;
    right: 30%;
    width: 20%;
    text-align: center;
}

.btn-play:hover {
    background-color: #ffffff;
    color: var(--paleta3-color);
}

.i-info-card {
    position: absolute;
    top: 5%;
    right: 5%;
}

.i-info-card img {
    width: 30px;
}

.i-destacado {
    width: 40px;
    position: absolute;
    top: -2%;
    left: 5%;
}

@media screen and (min-width:768px) {
    .categoria-juegos {
        margin-left: 2%;
    }

    .container-cards-juegos {
        height: 25vh;
    }

    .card-juego {
        flex: 0 0 25%;
        height: 25vh;
    }

    .btn-play {
        bottom: 30%;
    }
}

@media screen and (min-width:1024px) {
    .card-juego {
        flex: 0 0 20%;
        width: calc(100%/4);
    }
}

@media screen and (min-width:1200px) {
    .container-cards-juegos {
        height: 20vh;
    }

    .card-juego {
        flex: 0 0 15%;
        width: calc(100%/5);
    }
}