::-webkit-scrollbar {
    display: none;
}

.categoria-juegos {
    width: 100%;
}

.titulo-categoria {
    color: #000000;
    margin-left: 4%;
}

.container-cards-juegos {
    display: flex;
    flex-direction: row;
    overflow-y: scroll;
    scrollbar-width: none;
    scroll-snap-type: x mandatory;
    width: 100%;
    overflow: scroll;
}

.container-categorias-juegos {
    overflow: hidden;
    position: relative;
}

.card-juego {
    border-radius: 5px;
    overflow: hidden;
    scroll-snap-align: center;
    width: calc(100%/2);
    border-radius: 5px;
    margin: 0 20px;
    flex: 0 0 50%;
    position: relative;
    object-fit: cover;
    height: 40vh;
}

.card-juego .img-juego {
    width: fit-content;
    filter: brightness(50%);
}

.card-juego .img-juego:hover {
    width: 120%;
    filter: brightness(100%);
}

.btn-play {
    position: absolute;
    color: #ffffff;
    border: 2px solid;
    padding: 5px 30px;
    border-color: #ffffff;
    border-radius: 5px;
    bottom: 20%;
    font-size: 1.5rem;
    left: 30%;
    right: 30%;
    width: 20%;
    text-align: center;
    z-index: 1000;
}

.btn-play:hover {
    background-color: #ffffff;
    color: var(--paleta3-color);
}

.i-info-card {
    position: absolute;
    top: 5%;
    right: 5%;
    z-index: 1000;
}

.i-info-card img {
    width: 30px;
}

.i-info-card img:hover {
    width: 30px;
}

.i-destacado {
    width: 25px;
    position: absolute;
    top: -2%;
    left: 5%;
    z-index: 1000;
}

/*Dialog*/

.dialogo-info-juego {
    width: 0;
    height: 70vh;
    position: fixed;
    z-index: 10000;
    background-color: var(--primary-color);
    overflow-x: hidden;
    transition: 0.4s ease;
    left: 10%;
    padding: 0 0 1rem 0;
    box-sizing: border-box;
    border-radius: 15px;
    top: 15vh;
    box-shadow: 2px 0px 41px -11px rgba(0, 0, 0, 0.65) inset;
    -webkit-box-shadow: 2px 0px 41px -11px rgba(0, 0, 0, 0.65) inset;
    -moz-box-shadow: 2px 0px 41px -11px rgba(0, 0, 0, 0.65) inset;
}

.close-dialogo {
    color: #ffffff;
    position: absolute;
    right: 5%;
    top: 5%;
}

.img-dialogo{
    width: 100%;
    height: 40vh;
}

@media screen and (min-width:768px) {
    .categoria-juegos {
        margin-left: 2%;
    }

    .container-cards-juegos {
        height: 25vh;
    }

    .card-juego {
        flex: 0 0 25%;
        height: 25vh;
    }

    .btn-play {
        bottom: 25%;
        left: 25%;
        right: 25%;
    }
}

@media screen and (min-width:1024px) {
    .card-juego {
        flex: 0 0 20%;
        width: calc(100%/4);
    }

    .i-destacado {
        width: 30px;
    }
}

@media screen and (min-width:1200px) {
    .container-cards-juegos {
        height: 20vh;
    }

    .card-juego {
        flex: 0 0 15%;
        width: calc(100%/5);
    }
}