* {
    color: white;
}

.b-comentario {
    width: 30px;
    height: 30px;
    margin: 0 20px;
    background-image: url(../icons/enviar.png);
    background-color: #393939;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
}

.i-whatsapp,
.i-facebook,
.i-instagram,
.i-twitter {
    width: 38px;
    height: 38px;
}

.redes {
    display: flex;
    justify-content: space-between;
    width: 70%;
}

.container-comunidad {
    width: 40%;
    margin-left: 5%;
}

.likes {
    font-size: 15px;
}

.difusion {
    display: flex;
}

.i-like {
    width: 19px;
    height: 19px;
}

.container-compartir {
    margin-top: 50px;
    /*LO HAGO POR EN MAIN CSS TENGO UNA CLASE Q SE LLAMA CONTAINER-AYUDA AL IGUAL QUE ACA Y SE APLICA EL CSS DE MAIN.CSS*/
    width: 100%;
    display: flex;
    flex-direction: column;
}

.container-contacto {
    display: flex;
    flex-direction: column;
    margin-right: 5%;
    width: 35%;
    margin-bottom: 50px;
}

.container-social {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

h4 {
    margin: 20px 0;
}

.i-inicial {
    width: 45px;
    height: 45px;
    margin: 0px 10px 20px 10px;
}

.container-resenia h4,
.container-resenia p {
    margin: 5px;
}

.valoraciones {
    width: 90%;
    margin-right: 10%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.container-resenia {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    background-color: rgba(217, 217, 217, 20%);
    border-radius: 10px;
    margin-top: 30px;
}

.container-usuario {
    width: 100%;
}

.detalle-usuario {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.usuario {
    width: 50%;
}

.difusion {
    display: flex;
    width: 50%;
    justify-content: space-around;
    align-items: center;
}

.comentario {
    text-align: left;
}

.difusion a,
.container-likes p {
    margin: 0;
}

.container-likes {
    display: flex;
}

input {
    width: 100%;
    background: none;
    font-family: 'Roboto', sans-serif;
    font-size: 19px;
    border-width: 1px;
    border-style: none;
    border-bottom: inset;
    border-color: #FFFFFF;
}

.iniciales-comunidad {
    width: 60px;
    border-radius: 100%;
    background-color: black;
    padding: 10px;
    text-align: center;
}

.textarea-comentario {
    background-color: #d9d9d950;
    border-radius: 10px;
}

.container-ayuda-comentario {
    display: flex;
    flex-direction: column;
    margin: 50px 0
}

.caja-comentarios {
    width: 100%;
    display: flex;
    flex-direction: column;
}

form {
    display: flex;
    align-items: flex-end;
}

label {
    margin: 5px 0;
}

.container-juego {
    background-color: #393939;
}