* {
    color: white;
}

.b-comentario {
    width: 30px;
    height: 30px;
    margin: 0 5px;
    background-image: url(../icons/enviar.png);
    background-color: #393939;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
}

.i-whatsapp,
.i-facebook,
.i-instagram,
.i-twitter {
    width: 38px;
    height: 38px;
}

.redes {
    display: flex;
    justify-content: space-between;
}

.container-compartir {
    margin: 0 5%;
    /*LO HAGO POR EN MAIN CSS TENGO UNA CLASE Q SE LLAMA CONTAINER-AYUDA AL IGUAL QUE ACA Y SE APLICA EL CSS DE MAIN.CSS*/
    width: 70%;
    display: flex;
    flex-direction: column;
}

.container-contacto {
    width: 40%;
    display: flex;
}

.textarea-comentario {
    width: 304px;
    background-color: #d9d9d950;
    border-radius: 10px;
}

.container-ayuda {
    display: flex;
}

.caja-comentarios {
    display: flex;
    flex-direction: column;
}

form {
    width: auto;
    display: flex;
    align-items: flex-end;
}

label {
    margin: 5px 0;
}

.container-juego {
    background-color: #393939;
}