.breadcrumb {
    display: flex;
    flex-direction: row;
    color: #ffffff;
    background-color: var(--secondary-color);
    top: 13vh;
    position: fixed;
    width: 100%;
    z-index: 10000;
    padding: 10px;
}

.breadcrumb p {
    margin: 0 5px;
}

.breadcrumb a:hover {
    color: var(--primary-color);
}