.container-juego-destacado {
    margin-top: 10vh;
}

.container-juego-lanzamiento {
    margin-top: 10vh;
}

.container-banner {
    background-color: #131313;
    display: flex;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.80);
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.80);
    -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.80);
}

.img-lanzamiento {
    width: 50%;
    height: auto;
}

.container-banner-texto {
    width: 50%;
    text-align: center;
}

.p-promocion {
    font-size: 30px;
    margin: 0 10%;
    margin-bottom: 2vh;
}

.container-presentacion {
    display: flex;
    flex-direction: column;
}

.t-informacion {
    width: 70%;
    text-align: center;
    margin: 3vh auto;
}

.container-imagenes-destacadas {
    display: flex;
    width: 100%;
    height: 25vh;
}

.img-destacadas {
    width: 120%;
    height: 120%
}

.t-informacion,
.titulo-fecha-lanzamiento,
.titulo-personajes,
.titulo-apodo,
.titulo-nombre {
    color: black;
}

.titulo-historia,
.p-historia {
    color: #ffffff;
}

.container-estreno p {
    text-align: justify;
}

.titulo-juego-lanzamiento {
    margin-bottom: 5px;
    font-size: 80px;
}

.titulo-fecha-lanzamiento {
    text-align: center;
    margin: 0;
}

.titulo-historia {
    font-size: 35px;
    margin: 0;
}

.titulo-descripcion,
.titulo-sinopsis {
    color: rgba(255, 255, 255, 0.70);
    margin: 0;
}

.titulo-sinopsis {
    font-size: 20px;
}

.titulo-descripcion{
    font-size: 3rem;
}
.titulo-roles {
    margin: 0;
    font-size: 38px;
    padding-left: 10%;
}

.p-historia {
    width: 90%;
    text-align: justify;
    font-size: 21px;
}

.p-descripcion,
.p-historia {
    margin: 0;
    margin-top: 10px;
}

.p-descripcion{
    font-size: 2rem;
}

.container-estreno {
    margin: 10vh 0 10vh 0;
    display: flex;
}

.container-historia {
    position: absolute;
    width: 45%;
    right: 5%;
    top: 30%;
    z-index: 1;
}

.container-objetivo-lanzamiento {
    background-color: #14191D;
    display: flex;
    width: 100%;
}

.container-descripcion {
    width: 40%;
    margin: auto 5%;
}

.img-lore {
    width: 100%;
    margin: 30px 0 30px 0;
}

.container-personajes {
    margin-left: 5%;
}

.personajes {
    display: flex;
    flex-direction: row;
    width: 100%;
    overflow-x: scroll;
    position: relative;
}

.img-personaje {
    width: 180px
}

.personaje {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-right: 9%;
}

.titulo-apodo,
.titulo-nombre {
    margin-top: 5px;
    margin-bottom: 0;
    font-weight: 400;
}

.titulo-apodo {
    font-size: 20px;
}

.titulo-nombre {
    font-size: 25px;
}

img.img-personaje {
    border-radius: 50%;
}

.container-jugabilidad {
    margin: 5%;
    display: flex;
}

.sinopsis {
    width: 50%;
    padding: 30px;
    background-color: #1C3862;
    margin-right: 5%;
    border-radius: 20px
}

.roles {
    padding: 15px;
    background-color: #30C4D8;
    margin-left: 5%;
    width: 35%;
    border-radius: 20px
}

.lista-roles {
    display: flex;
    font-size: 20px;
    font-weight: 400;
}

ul {
    list-style: none;
    margin: 0;
}

.carrusel-lanzamiento {
    opacity: 0;
    display: flex;
    justify-content: center;
    position: absolute;
    z-index: 10;
    top: 20%;
}

.card-lanzamiento-figura {
    width: 60vw;
    height: 40vw;
    max-width: 380px;
    max-height: 250px;
    margin: 0;
    perspective: 1000px;
}

.card-lanzamiento-contenido {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    animation: carrusel 15s infinite cubic-bezier(0.77, 0, 0.175, 1) forwards;
}

.card-lanzamiento-item {
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    max-width: 380px;
    max-height: 250px;
}

.card-lanzamiento-item img {
    width: 100%;
    height: 100%;
}

.card-lanzamiento-item:nth-child(4) {
    transform: rotateY(270deg) translateZ(35vw);
}

.card-lanzamiento-item:nth-child(3) {
    transform: rotateY(0) translateZ(35vw);
}

.card-lanzamiento-item:nth-child(2) {
    transform: rotateY(90deg) translateZ(35vw);
}

.card-lanzamiento-item:nth-child(1) {
    transform: rotateY(180deg) translateZ(35vw);
}

@keyframes carrusel {
    0%,
    20% {
        transform: translateZ(-25vw) rotateY(0);
    }
    20%,
    40% {
        transform: translateZ(-25vw) rotateY(-90deg);
    }
    40%,
    60% {
        transform: translateZ(-25vw) rotateY(-180deg);
    }
    60%,
    80% {
        transform: translateZ(-25vw) rotateY(-270deg);
    }
    80%,
    100% {
        transform: translateZ(-25vw) rotateY(-360deg);
    }
}

/*PARALLAX*/

.parallax{
  background-image: url('../images/starciticenpage-100.jpg');
  height: 90vh; 
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: brightness(20%);
}

.container-hero{
    background-color: #2b2e30;
}

.container-hero-texto{
    opacity: 1;
    position: absolute;
    top: 5%;
    z-index: 1;
    width: 100%;
    text-align: center;
    transition: opacity 0.8s;
}

.difuminado{
    opacity: 0;
    transition: opacity 0.8s;
}

.container-introduccion-lanzamiento{
    opacity: 0;
    position: absolute;
    top: 15%;
    z-index: 1;
    background-color: #ffffffeb;
    width: 100%;
}

.container-fecha-lanzamiento{    
    opacity: 0;
    width: 40%;
    position: absolute;
    top: 30%;
    padding: 40px 0;
    background-color: #ffffff;
    z-index: 2;
    border-radius: 10px;
    left: 5%;

    box-shadow: 2px 0px 41px -11px rgba(0, 0, 0, 0.65) inset;
    -webkit-box-shadow: 2px 0px 41px -11px rgba(0, 0, 0, 0.65) inset;
    -moz-box-shadow: 2px 0px 41px -11px rgba(0, 0, 0, 0.65) inset;
    
}

.trasladar{
    animation-duration: 0.8s;
    animation-name: trasladar;
}

@keyframes trasladar{
    from {
        rigth: 0%;
    }

    to{
        rigth: 10%;
    }
}


.dimensionar{
    animation-duration: 1s;
    animation-name: dimensionar;
    animation-fill-mode: forwards;
}

@keyframes dimensionar{
    from {
        transform: scale(0.5);
    }

    to{
        transform: scale(1);
    }
}


.container-objetivo-lanzamiento{
    display: flex;
    justify-content: space-evenly;
    width: 100%;  
    background-color: #14191D;
}

.stickyScroll{
    position: sticky;
    width: 50%;
    height: 100%;
    top: 15%;
}

.textoScroll{
    width: 50%;
}

.descripcion-lanzamiento:last-of-type{
margin-bottom: auto;
padding: 0;
}

.descripcion-lanzamiento:first-of-type{
    padding: 45% 0;
}

.descripcion-lanzamiento{
    height: 380px;
    color: #ffffff;
    margin: 25px 50px 100px 50px;
    transition: opacity .4s ease-in-out;
    text-align: center;
    font-size: xx-large;
}


.img{
    height: 500px;
    margin: 15% 0 15% 5%;   
}

.img:last-of-type{
    margin-bottom: auto;
  }
  
  .oculto{
    opacity: 0;
  }
  
  .img-oculta{
    display: none;
    visibility: hidden;
  }
  

  
 